In [1]:
import pandas as pd

In [2]:
desc = 'C:/Users/SQL/Documents/categorized_expenses_desc.csv'
desc = pd.read_csv(desc)
desc

,Unnamed: 0,CODE,GL_DESCRIPTION,CB_DESCRIPTION,FORMAT,Who,What,Why,Where,When
0,0,903-000,ENTERTAINMENT,- WREATH,What,NaN,WREATH,NaN,NaN,NaN
1,1,903-000,ENTERTAINMENT,- FRIM & COWAY AUDIT LUNCH,Who-What,FRIM & COWAY,AUDIT LUNCH,NaN,NaN,NaN
2,2,903-000,ENTERTAINMENT,- COWAY LUNCH,What,NaN,COWAY LUNCH,NaN,NaN,NaN
3,3,903-000,ENTERTAINMENT,- COWAY LUNCH,What,NaN,COWAY LUNCH,NaN,NaN,NaN
4,4,903-000,ENTERTAINMENT,- COWAY,What,NaN,COWAY,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2072,2072,968-000,HRDF EXPENSES,BEING CLAIM FOR 5S GOOD HOUSEKEPING PRACTICES ...,What-When,NaN,5S Good Housekeeping Practices,NaN,NaN,16.01.2023
2073,2073,968-000,HRDF EXPENSES,"HRDF FOR THE MONTH OF MAY'23 - RM 480,758.39 @ 1%",What-When,NaN,HRDF,NaN,NaN,May'23
2074,2074,968-000,HRDF EXPENSES,BEING CLAIM FOR TRAINING CERTIFIED HUMAN RESOU...,What-When,NaN,Training Certified Human Resource Manager,NaN,NaN,08.05-12.05.2023
2075,2075,968-000,HRDF EXPENSES,BEING CLAIM FOR TRAINING STOCK AND WAREHOUSE M...,What-When,NaN,Training Stock and Warehouse Management,NaN,NaN,21.12.22-22.12.22
2076,2076,989-000,LOSS IN COURTS CASE,BEING PAYMENT FOR LOSS IN COURTS CASE,What-Why,NaN,PAYMENT,LOSS IN COURTS CASE,NaN,NaN

In [3]:
# Specify the list of columns where you want to fill NaN with empty string
columns_to_fill = ['Who', 'What', 'Why', 'Where', 'When']

# Fill NaN with empty string in the specified columns
desc[columns_to_fill] = desc[columns_to_fill].fillna('')

desc = desc.drop(columns=['Unnamed: 0'])
desc

,CODE,GL_DESCRIPTION,CB_DESCRIPTION,FORMAT,Who,What,Why,Where,When
0,903-000,ENTERTAINMENT,- WREATH,What,,WREATH,,,
1,903-000,ENTERTAINMENT,- FRIM & COWAY AUDIT LUNCH,Who-What,FRIM & COWAY,AUDIT LUNCH,,,
2,903-000,ENTERTAINMENT,- COWAY LUNCH,What,,COWAY LUNCH,,,
3,903-000,ENTERTAINMENT,- COWAY LUNCH,What,,COWAY LUNCH,,,
4,903-000,ENTERTAINMENT,- COWAY,What,,COWAY,,,
...,...,...,...,...,...,...,...,...,...
2072,968-000,HRDF EXPENSES,BEING CLAIM FOR 5S GOOD HOUSEKEPING PRACTICES ...,What-When,,5S Good Housekeeping Practices,,,16.01.2023
2073,968-000,HRDF EXPENSES,"HRDF FOR THE MONTH OF MAY'23 - RM 480,758.39 @ 1%",What-When,,HRDF,,,May'23
2074,968-000,HRDF EXPENSES,BEING CLAIM FOR TRAINING CERTIFIED HUMAN RESOU...,What-When,,Training Certified Human Resource Manager,,,08.05-12.05.2023
2075,968-000,HRDF EXPENSES,BEING CLAIM FOR TRAINING STOCK AND WAREHOUSE M...,What-When,,Training Stock and Warehouse Management,,,21.12.22-22.12.22
2076,989-000,LOSS IN COURTS CASE,BEING PAYMENT FOR LOSS IN COURTS CASE,What-Why,,PAYMENT,LOSS IN COURTS CASE,,

In [4]:
user_selection = input(f"Enter Selection: ")

if user_selection in desc.columns:
    user_description = input(f"Enter Description: ")
    
    matching_rows = desc[desc[user_selection] == user_description]
    for index, row in matching_rows.iterrows():
            for column, value in row.items():
                print(f"{column}: {value}")
            print("\n-------------------\n")
    
    if matching_rows.empty:
        print(f"No rows found in '{user_selection}' with description '{user_description}'.")

else:
    print(f"No, the column '{user_selection}' does not exist in the DataFrame.")

Enter Selection: What
Enter Description: COWAY LUNCH
CODE: 903-000
GL_DESCRIPTION: ENTERTAINMENT
CB_DESCRIPTION:  - COWAY LUNCH
FORMAT: What
Who:
What: COWAY LUNCH
Why:
Where:
When:

-------------------

CODE: 903-000
GL_DESCRIPTION: ENTERTAINMENT
CB_DESCRIPTION:  - COWAY LUNCH
FORMAT: What
Who:
What: COWAY LUNCH
Why:
Where:
When:

-------------------